<article class="post">
  <div class="title">
    <a href="/posts/{{post_url}}" target="_blank">{{user.username}} - {{format_date created_at}} - {{title}}</a>
    <span>({{format_url post_url}})</span>
  </div>
  <div class="content">
    <p>{{text}}</p>
  </div>
  <div class="meta">
    <a href="/posts/{{post_url}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>